<div class="interactive">
	
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
  
</head>

<body>
    
<!--     <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/gdn-cdn/embed/webwewant/www-gu-type.css"> -->
    <div class="year-review review-background">
       
        <div class="year-review-type--wrapper">       

            <div class="year-review--type">

                <svg viewBox="0 0 1033.627 772.5" >
                    <g id="Group" transform="translate(90.000000, 204.000000)">
                       
                        <path id="_x35_0_1_" fill="#FFFFFF" d="M104.999,564.478c169.453,0,237.444-98.325,237.444-222.798
                            c0-157.947-85.773-220.709-239.537-220.709c-46.022,0-103.553,10.46-127.612,19.874l24.06-299.157h329.489l1.046-11.503H-11.108
                            l-27.196,325.304c31.381-10.46,84.728-23.012,139.118-23.012c150.625,0,228.029,58.576,228.029,209.203
                            c0,117.148-61.713,211.292-223.846,211.292c-74.268,0-127.612-14.645-182.005-40.794v11.505
                            C-26.796,549.832,26.548,564.478,104.999,564.478L104.999,564.478z M649.362,564.478c173.636,0,267.779-139.12,267.779-372.379
                            c0-233.258-94.144-371.332-267.779-371.332c-173.64,0-267.777,139.119-267.777,371.332
                            C381.585,425.357,475.723,564.478,649.362,564.478L649.362,564.478z M649.362,552.972c-166.316,0-253.133-134.937-253.133-360.873
                            c0-226.982,86.816-359.826,253.133-359.826S902.497-34.884,902.497,192.099C902.497,419.083,815.679,552.972,649.362,552.972
                            L649.362,552.972z"/>
                    </g>
                    </svg>   
               
            </div>

    </div>        

            <div class="year-review--images setone active">
               <!--  <div class="year-review--cut one"> <img src="<%= path %>/assets/Motherland.png"/></div>
                <div class="year-review--cut two"> <img src="<%= path %>/assets/Bojack.png"/></div>
                <div class="year-review--cut three"><img src="<%= path %>/assets/stranger.png"></div> -->

               <div class="year-review--cut one"> <img src="<%= path %>/assets/filmsUK_bladeRunner-min.png"/></div>
                <div class="year-review--cut two"> <img src="<%= path %>/assets/filmsUK_huppert-min.png"/></div>
                <div class="year-review--cut three"><img src="<%= path %>/assets/filmsUSUK_getOut-min.png"></div>

               
            </div>
           
</div>
           
        
</body>



</html>





	
</div>