<div class="interactive">
	
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
  
</head>

<body>
    
<!--     <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/gdn-cdn/embed/webwewant/www-gu-type.css"> -->
    <div class="year-review review-background">
       
        <div class="year-review-type--wrapper">       

            <div class="year-review--type">

                <svg viewBox="0 0 1033.627 772.5" >
                    <g>
                        <g>
                        <path fill="#FFFFFF" d="M28.4,749.4l187.2-186.1c115.9-114.9,219.1-214.9,219.1-348.9c0-120.2-61.7-183-188.3-183
                            c-84,0-136.2,19.1-196.8,52.1V70.7c57.4-31.9,112.8-52.1,196.8-52.1c133,0,202.1,69.1,202.1,195.7c0,137.2-106.4,241.5-223.4,357.4
                            L46.5,749.4v1.1h419.1v12.8H28.4V749.4z"/>
                        <path fill="#FFFFFF" d="M518.8,724.9v-12.8c60.6,35.1,126.6,45.7,191.5,45.7c160.6,0,220.2-91.5,220.2-209.5
                            c0-160.6-88.3-212.7-244.6-212.7c-51.1,0-90.4,6.4-122.3,13.8l24.5-323.4h332.9v12.8H599.6l-22.3,295.7
                            c24.5-5.3,69.1-11.7,108.5-11.7c161.7,0,258.5,56.4,258.5,225.5c0,115.9-57.4,222.3-234,222.3C641.1,770.7,566.6,757.9,518.8,724.9
                            z"/>
                        </g>
                    </g>
                </svg>   
               
            </div>

    </div>        

            <div class="year-review--images setone active">
             <!--    <div class="year-review--cut one"> <img src="<%= path %>/assets/Motherland.png"/></div>
                <div class="year-review--cut two"> <img src="<%= path %>/assets/Bojack.png"/></div>
                <div class="year-review--cut three"><img src="<%= path %>/assets/stranger.png"></div>  -->

            <div class="year-review--cut one"> <img src="<%= path %>/assets/bigLittleLies-min.png"/></div>
                <div class="year-review--cut two"> <img src="<%= path %>/assets/masterOfNone-min.png"/></div>
                <div class="year-review--cut three"><img src="<%= path %>/assets/gameOfThrones-min.png"></div>
               
            </div>
           
</div>
           
        
</body>



</html>





	
</div>