/* Start aniOne*/
@keyframes aniOne{

  0% {
    opacity:0;
    transform:  translate(40px,0px)  ;
  }
  5% {
    opacity:0;
    transform:  translate(40px,0px);
  }
  10% {
    opacity:1;
    transform:  translate(20px,0px);
  }
  30% {
    opacity:1;
    transform:  translate(20px,0px);
  }
  33% {
    opacity:0;
    transform:  translate(0px,0px);

  }
  100% {
    opacity:0;
    transform:  translate(0px,0px);

  }
}

@-moz-keyframes aniOne{
  0% {
    opacity:0;
    -moz-transform:  translate(70px,0px)  ;
  }

  5% {
    opacity:0;
    -moz-transform:  translate(70px,0px);
  }
  10% {
    opacity:1;
    -moz-transform:  translate(20px,0px);
  }
  30% {
    opacity:1;
    -moz-transform:  translate(20px,0px);
  }
  33% {
    opacity:0;
    -moz-transform:  translate(-80px,0px);

  }
  100% {
    opacity:0;
    -moz-transform:  translate(-80px,0px);

  }

}

@-webkit-keyframes aniOne {
  
  0% {
    opacity:0;
    -webkit-transform:  translate(40px,0px)  ;
  }
  5% {
    opacity:0;
    -webkit-transform:  translate(70px,0px);
  }
  10% {
    opacity:1;
    -webkit-transform:  translate(20px,0px);
  }
  30% {
    opacity:1;
    -webkit-transform:  translate(20px,0px);
  }
  33% {
    opacity:0;
    -webkit-transform:  translate(-80px,0px);

  }
  100% {
    opacity:0;
    -webkit-transform:  translate(-80px,0px);

  }
}

@-ms-keyframes aniOne {
   0% {
    opacity:0;
    -ms-transform:  translate(40px,0px)  ;
  }

  15% {
    opacity:1;
    -ms-transform:  translate(20px,0px);
  }
  21% {
    opacity:1;
    -ms-transform:  translate(20px,0px);
  }
  45% {
    opacity:1;
    -ms-transform:  translate(20px,0px);
  }
  50% {
    opacity:0;
    -ms-transform:  translate(-30px,0px);

  }
  100% {
    opacity:0;
    -ms-transform:  translate(-30px,0px);

  }
}
/* END aniOne*/

/* Start aniTwo*/
@keyframes aniTwo{
   0% {
    opacity:0;
    transform:  translate(-20px,0px);

  } 
  33% {
    opacity:0;
    transform:  translate(-20px,0px);

  } 
  40% {
    opacity:1;
    transform:  translate(20px,0px);
  }
  60% {
    opacity:1;
    transform:  translate(20px,0px);
  }

  66% {
    opacity:0;
    transform:  translate(40px,0px);
  }

  100% {
    opacity:0;
    transform:  translate(40px,0px)  ;
  }
  
}


@-moz-keyframes aniTwo{


  0% {
    opacity:0;
    -moz-transform:  translate(-20px,0px);

  } 
  33% {
    opacity:0;
    -moz-transform:  translate(-20px,0px);

  } 
  40% {
    opacity:1;
    -moz-transform:  translate(20px,0px);
  }
  60% {
    opacity:1;
    -moz-transform:  translate(20px,0px);
  }

  66% {
    opacity:0;
    -moz-transform:  translate(40px,0px);
  }

  100% {
    opacity:0;
    -moz-transform:  translate(40px,0px)  ;
  }


}

@-webkit-keyframes aniTwo {

0% {
    opacity:0;
    -webkit-transform:  translate(-20px,0px);

  } 
  33% {
    opacity:0;
    -webkit-transform:  translate(-20px,0px);

  } 
  40% {
    opacity:1;
    -webkit-transform:  translate(20px,0px);
  }
  60% {
    opacity:1;
    -webkit-transform:  translate(20px,0px);
  }

  66% {
    opacity:0;
    -webkit-transform:  translate(40px,0px);
  }

  100% {
    opacity:0;
    -webkit-transform:  translate(40px,0px)  ;
  }  
  
}

@-ms-keyframes aniTwo {
   0% {
    opacity:0;
    -ms-transform:  translate(-20px,0px);

  } 
  33% {
    opacity:0;
    -ms-transform:  translate(-20px,0px);

  } 
  40% {
    opacity:1;
    -ms-transform:  translate(20px,0px);
  }
  60% {
    opacity:1;
    -ms-transform:  translate(20px,0px);
  }

  66% {
    opacity:0;
    -ms-transform:  translate(40px,0px);
  }

  100% {
    opacity:0;
    -ms-transform:  translate(40px,0px)  ;
  } 
  
}

/*End aniTwo*/


/*Start aniThree*/

@keyframes aniThree{

0% {
    opacity:0;


  } 
  66% {
    opacity:0;
   

  } 
  81% {
    opacity:1;
 
  }
  87% {
    opacity:1;
  
  }

  100% {
    opacity:0;
 
  }
}

@-moz-keyframes aniThree{

  0% {
    opacity:0;


  } 
  66% {
    opacity:0;


  } 
  81% {
    opacity:1;

  }
  87% {
    opacity:1;

  }

  100% {
    opacity:0;
 
  }
  
}

@-webkit-keyframes aniThree {
  
0% {
    opacity:0;


  } 
  66% {
    opacity:0;


  } 
  81% {
    opacity:1;

  }
  87% {
    opacity:1;

  }

  100% {
    opacity:0;

  }


 
  
}

@-ms-keyframes aniThree {
    0% {
    opacity:0;

  } 
  66% {
    opacity:0;

  } 
  81% {
    opacity:1;

  }
  87% {
    opacity:1;

  }

  100% {
    opacity:0;

  }
  
}
/* END aniThree*/


.year-review--images.active.setone .year-review--cut.one {
    animation: aniZero infinite;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    -webkit-animation: aniZero infinite;
    -webkit-animation-duration: 15s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: aniZero infinite;
    -moz-animation-duration: 15s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: aniZero infinite;
    -ms-animation-duration: 15s;
    -ms-animation-fill-mode: forwards;
}


.year-review--images.active.setone .year-review--cut.one {
    animation: aniOne infinite;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    -webkit-animation: aniOne infinite;
    -webkit-animation-duration: 15s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: aniOne infinite;
    -moz-animation-duration: 15s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: aniOne infinite;
    -ms-animation-duration: 15s;
    -ms-animation-fill-mode: forwards;
}
.year-review--images.active.setone .year-review--cut.two {
    animation: aniTwo infinite;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    -webkit-animation: aniTwo infinite;
    -webkit-animation-duration: 15s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: aniTwo infinite;
    -moz-animation-duration: 15s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: aniTwo infinite;
    -ms-animation-duration: 15s;
    -ms-animation-fill-mode: forwards;
}

.year-review--images.active.setone .year-review--cut.three {
    animation: aniThree infinite;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    -webkit-animation: aniThree infinite;
    -webkit-animation-duration: 15s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: aniThree infinite;
    -moz-animation-duration: 15s;
    -moz-animation-fill-mode: forwards;
    -ms-animation: aniThree infinite;
    -ms-animation-duration: 15s;
    -ms-animation-fill-mode: forwards;
}

.review-background {
    background: linear-gradient(30deg, $color1, $color2);  
    background-size: 200% 200%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    min-height: 100% !important;
    min-width:100%;
}




@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}