@import "mq";

$accent-color: #b82266;


@font-face {
    font-family: 'Guardian Sans Web';
    src: url("https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands1thi-webfont.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/displaysans/fonts/gdnsands1thi-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

.immersive-main-media__headline-container {
    background-color: none !important;
}

#article {
    /* clearfix */
}

#article h2, .prose h2 {

    color: $accent-color;

        &.contributions__title contributions__title--epic{
            position: relative;
            margin-top: 0 !important;
            margin-right: 12px;
            margin-bottom: 2px;
            margin-left: 0 !important;
            font-size: 22px !important;
            line-height: 27px !important;
            font-family: "Guardian Egyptian Web", Georgia, serif;
            font-weight: 900 !important;
            color: #333 !important;
        }
}


#article .in-body-link--immersive, , .prose .in-body-link--immersive  {
    color: $accent-color ;
}


.element--immersive {
    margin-bottom: 0 !important;
}


.immersive-main-media__headline-container--dark {
    background-color: rgba(0,0,0,0.6);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(#161616));
    background: -webkit-linear-gradient(rgba(0,0,0,0.5), #161616);
    background: linear-gradient(rgba(0,0,0,0.5), #161616);

        @include mq(desktop){
            -webkit-transition: none !important;
            transition: none !important;
            background-color: none !important;
            background: none !important;
        }
    
}


.element-atom {

    iframe{ 
        height: calc(100vh - 160px) !important;
        width: 100% !important;
        overflow: hidden !important;
    }

}

.prose p.has__dropcap{
    content: '' !important;
}

.prose h2.section__rule{
    display: none !important;
}

#article h2.contributions__title.contributions__title--epic, h2.contributions__title.contributions__title--epic{
     position: relative;
    margin-top: 0 !important;
    margin-right: 12px;
    margin-bottom: 2px;
    margin-left: 0 !important;
    font-size: 22px !important;
    line-height: 27px !important;
    font-family: "Guardian Egyptian Web", Georgia, serif;
    font-weight: 900 !important;
    color: #333 !important;
}

.element-rich-link {
    display:none !important;
    @include mq(wide){
        display:block !important;
        position: absolute !important;
    }
    
}


.ad-slot--inline{
    position:relative;
    margin-top: 2rem !important;

    @include mq(tablet){
            float: left !important;
            margin-top: 0.25rem !important;
            margin-left: 80px !important;
    }

    @include mq(desktop){
        float: none !important;
        position:absolute !important;
        right:0 !important;
    }

    &.unruly-ad-shim{
         @include mq(desktop){
            position:relative !important;
            margin: 30px 0 12px !important;
        }
    }
}


